.menu-link {
    width: 100%;
    max-width: 200px;
    height: 100px;
    margin: 10px;
    text-decoration: none;

    .menu-card {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 18px;
        border-radius: 8px;
        transition: box-shadow 0.2s ease;
    }

    .menu-card:hover {
        box-shadow: 0 0 12px 2px #7cacf8;
        cursor: pointer;
    }
}
