:root {
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    color: #242424;
}

body.dark {
    background-color: #242424;
    color: #f0f0f0;
}
